* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: calibri, serif;
}
/*Body*/
body {
    background-color: #b0e4fe;
    color: #1d3440;
}

/*Header*/
.header {
    background-color: #78d1fe;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

/*Container*/
.container {
    max-width: 600px;
    margin: 5rem auto;
    background-color: #dff4ff;
    padding: 2rem 3rem;
    border-radius: 10px;
}

/*Form*/
.todo-form {
    margin-bottom: 1.5rem;
    border-color: #3a677e;
}

.todo-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/*Input*/
.input-group {
    display: flex;
    gap: 0.5rem;
}

.input-group input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-color: #5492b0;
}

.input-group button {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #accad9;
    border-color: #84b1c7;
}
/*List*/
.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1.5px solid #78b2cb;
}

.todo-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.todo-text.done {
    text-decoration: line-through;
    color: #888;
}

.delete-button {
    background-color: #d84567;
    color: white;
    border: none;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    border-radius: 5px;
}
